
<section id="clients" class="callout">

    <div class="container">

        <div class="row">

            <div class="col-md-3 hidden-xs wow bounceInLeft">
                <h3>Customers</h3>
            </div>

            <div class="col-md-9 wow bounceInRight">

                <div id="owl-clients" class="owl-carousel">

                    <div class="owl-item">
                        <img src="~/bstemplate/images/logo/client160-3.png" alt="">
                        <h4>Client 1</h4>
                    </div>

                    <div class="owl-item">
                        <img src="~/bstemplate/images/logo/client160-1.png" alt="">
                        <h4>Client 2</h4>
                    </div>

                    <div class="owl-item">
                        <img src="~/bstemplate/images/logo/client160-3.png" alt="">
                        <h4>Client 3</h4>
                    </div>

                    <div class="owl-item">
                        <img src="~/bstemplate/images/logo/client160-1.png" alt="">
                        <h4>Client 4</h4>
                    </div>

                    <div class="owl-item">
                        <img src="~/bstemplate/images/logo/client160-3.png" alt="">
                        <h4>Client 5</h4>
                    </div>

                    <div class="owl-item">
                        <img src="~/bstemplate/images/logo/client160-1.png" alt="">
                        <h4>Client 6</h4>
                    </div>

                </div>

            </div><!-- .col-md-9 -->

        </div><!-- .row -->

    </div><!-- .container -->

</section>