
<section id="profile-contact">
    <div class="container">

        <div class="row">

            <div class="col-sm-4 wow bounceInLeft">
                <div class="profile-item">
                    <i class="fa fa-envelope-o"></i>
                    <h5><a href="#">markstone@some.com</a></h5>
                </div>
            </div>

            <div class="col-sm-4 wow bounceInUp">
                <div class="profile-item">
                    <i class="fa fa-phone"></i>
                    <h5>(1234) 1234-5678-1011</h5>
                </div>
            </div>

            <div class="col-sm-4 wow bounceInRight">
                <div class="profile-item">
                    <i class="fa fa-map-marker"></i>
                    <h5>144 Some Street, Some City, Some Country</h5>
                </div>
            </div>

        </div><!-- .row -->

    </div><!-- .container -->
</section>