@{
    Layout = null;
    var tempString = new List<string>() { "Something1.", "Something2.", "Something3." };
}

<section id="intro" class="section">
    @Html.Hidden("introPic", Url.Content("bstemplate/images/bg4.jpg"));
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="hello wow bounceInDown">
                    <h1>Hello, I'm Simon Huang</h1>
                    <h3>
                        <span class="rotate">
                            @foreach(var temp in tempString)
                            {
                            <text>
                                @temp |
                            </text>
                            }
                        </span>
                    </h3>
                </div>
                <a href="#profile">
                    <div class="mouse-icon">
                        <div class="wheel"></div>
                    </div>
                </a>
            </div>
        </div><!-- .row -->
    </div>
    <!-- .container -->
</section>