<section id="profile" class="section">

    <div class="container">

        <div class="row">

            <div class="col-md-12 headline wow bounceInDown">
                <h2>Mark Stone</h2>
                <p>Visual Designer. Front-end Developer. C# Programmer.</p>
            </div>

            <div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft">
                <img class="avatar" src="~/bstemplate/images/photo.jpg" alt="">
            </div>

            <div class="col-md-3 col-sm-6 wow bounceInUp">

                <div class="profile-widget">
                    <h3>Skillset</h3>

                    <h5>UX Design</h5>
                    <div class="skill-bar">
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-off"></div>
                    </div>

                    <h5>HTML / CSS3 / SASS</h5>
                    <div class="skill-bar">
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-off"></div>
                        <div class="skill-rate-off"></div>
                    </div>

                    <h5>Javascript</h5>
                    <div class="skill-bar">
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                    </div>

                    <h5>Ajax</h5>
                    <div class="skill-bar">
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-off"></div>
                        <div class="skill-rate-off"></div>
                        <div class="skill-rate-off"></div>
                    </div>
                </div>

                <div class="profile-widget">
                    <h3>Social Profiles</h3>
                    <ul class="widget-social">
                        <li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                        <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>

            </div><!-- .col-md-3 -->

            <div class="col-md-6 col-sm-12 wow bounceInRight">
                <h3>Profesional Profile</h3>
                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am so happy, my dear friend.</p>
                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
            </div>

        </div><!-- .row -->

    </div><!-- .container -->

</section>
